body {
  color: #8B8B8B;
  background-color: #FFF;
  font-size: 12px;
  line-height: 1.5em;
  font-family: Arial,Tahoma,"hiragino sans gb",Helvetica;
  margin: 0;
  display: block;
}

ul, li, p, pre, body {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

audio:not([controls]) {
  display: none;
}

audio {
  width: 300px;
  height: 30px;
}

.qqaudio {
  width: 563px;
  height: 115px;
  position: fixed;
  _position: absolute;
  bottom: 20px;
  box-shadow: 3px 3px 6px RGBA(0, 0, 0, 0.42);
  border-radius: 4px;
  z-index: 1;
  left: 0;
}

.qqaudio .qq-opration {
  background-color: #000;
  width: 541px;
  height: 115px;
}

.qqaudio .qq-active-tip {
  display: inline-block;
  background-image: url(../image/player_bg.png);
  background-repeat: no-repeat;
  background-position: -376px -89px;
  display: block;
  font-size: 0;
  width: 17px;
  height: 20px;
  position: absolute;
  right: 3px;
}

.qqaudio .qq-open-list {
  background-image: url(../image/player_bg.png);
  background-repeat: no-repeat;
  background-position: -222px -97px;
  width: 47px;
  height: 28px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 61px;
  cursor: pointer;
}

.qqaudio .qq-open-list span {
  color: #FFF;
  font-family: tahoma;
  font-size: 11px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 28px;
  margin-left: 23px;
}

.qqaudio .qq-btn-geci {
  background-image: url(../image/player_bg.png);
  background-repeat: no-repeat;
  background-position: -452px 0;
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 7px;
  right: 37px;
  text-indent: -9999px;
  cursor: pointer;
}

.qqaudio .qq-show-hide {
  background-image: url(../image/player_bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  width: 22px;
  height: 115px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
}

.qqaudio .qq-show-hide span {
  display: none;
}

.qqaudio .qq-play-list {
  width: 541px;
  height: 507px;
  position: absolute;
  top: -507px;
  left: 0;
  background-color: #1b1b1b;
  box-shadow: rgba(0, 0, 0, 0.47);
}

.qq-opration .op-info {
  width: 111px;
}

.qq-opration .op-info .op-info-pic {
  display: block;
  float: left;
  width: 90px;
  height: 90px;
  margin: 10px;
  overflow: hidden;
}

.qq-opration .op-info .music-main-info {
  font-family: tahoma;
  float: left;
}

.qq-opration .op-op {
  width: 280px;
  position: absolute;
  top: 43px;
  left: 248px;
}

.qq-opration .op-op strong {
  background: url(../image/player_bg.png) no-repeat;
  display: block;
  vertical-align: top;
  width: 36px;
  height: 28px;
  float: left;
  margin-top: 7px;
  margin-left: 3px;
  border: 0;
  cursor: pointer;
}

.qq-opration .op-op strong span {
  display: none;
}

.qq-opration .op-op .opmusic-pre {
  background-position: -69px 0;
}

.qq-opration .op-op .opmusic-play {
  background-position: -105px -42px;
}

.qq-opration .op-op .opmusic-next {
  background-position: -147px 0;
}

.qq-opration .op-op .opmusic-cycle {
  background-position: -219px 0;
}

.qq-opration .op-op .volume {
  display: inline-block;
  width: 100px;
  height: 24px;
  float: left;
  margin-top: 10px;
  margin-left: 8px;
}

.qq-opration .op-select {
  display: none;
  background-color: #383838;
  width: 32px;
  padding: 5px 0;
  position: absolute;
  left: 376px;
  _left: 379px;
  bottom: 35px;
  _bottom: 34px;
  border-radius: 3px;
  box-shadow: 3px 3px 6px RGBA(0, 0, 0, 0.42);
  z-index: 12;
}

.qq-opration .op-press {
  font-size: 0;
  width: 541px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.qq-opration .play-show {
  width: 50px;
  height: 24px;
  position: absolute;
  z-index: 3;
}
